/* Content First - Mobile First */
	* {
		box-sizing: border-box;
		font-family: sans-serif
	}
	body{
		margin: 0;
	}	
	.button{
		margin: .5rem;
		border-radius: .2rem;
		border: 2px solid #333;
		padding: .5rem;
		color: #333;
		background-color: transparent;
	}
	.button:hover{
		color: #eee;
		background-color: #333;
	}
	.button{
		margin: .5rem;
		border-radius: .2rem;
		border: 2px solid #333;
		padding: .5rem;
		color: #333;
		background-color: transparent;
	}
	.button:hover{
		color: #eee;
		background-color: #333;
	}
	/*navigationBar*/
		nav{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background-color: #eee;
		}
		nav a, 
		nav form{
			padding: .5rem;
		}
		nav .menu{
			width:100%;
			height:0;
			overflow: hidden;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.menu a{
			display: block;
			padding: .5rem;
			color:#333;
			text-decoration: none;
		}	
		.menu a:hover{
			background-color: #3338;
		}
		.menu.active{
			height:auto;
		}
		label[for="searchIn"]{
			display:none;
		}
		#search {
			display:none;
		}
		#searchIn{
			outline: none;
			border: none;
			border-bottom: .2rem solid #333;
			background-color: transparent;
		}
		#searchIn:focus{
			width: 20vw;
		}
		#search .button{
			display: inline-block;
			margin: 0;
		}
		nav .back{
			position: fixed;
			bottom: 1rem;
			right: 1rem;
			width: 2rem;
			padding: 0;
			line-height: 2rem;
			text-align: center;
			border-radius: 50%;
			opacity: .6;
			color: #eee;
			background-color: #333;
		}
		nav .back:hover{
			opacity: .8;
		}
	/*mainHeader*/
		#header{
			padding: 20% 1rem;
			text-align:center;
			color: #eee;
			text-shadow: 0 0 .2rem #666;
			backgroun-color: #333;
		}
		#header h1,
		#header p{
			margin: 0;
			font-size: calc(2vw + .8rem);
		}
	/*section*/	
	section{
		background-color: #e1e1e1;
		margin-bottom: 1rem;
	}		

	.gallery{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: .5rem;
	}
	.gallery img{
		display:block;
		width: 100%;
		min-height: 200px;
		border: .5rem solid #eee;
		border-radius: .5rem;
		background-color: #666;
	}
	/*mainFooter*/
		#footer{
			padding: 1rem;
			background-color: #eee;
		}
	/*contactForm*/
		#contact{
			max-width: 540px;
			display: flex;
			flex-direction: column;
			margin: auto;
		}
		#contact input,
		#contact textarea{
			border-radius: .2rem;
			padding: .5rem 1rem;
			outline: none;
			border: 2px solid transparent;
			font-size: 1rem;
		}
		#contact textarea{
			min-height: 7rem;
			resize: none;
		}
		#contact .button{
			margin: .2rem 0;
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
		}
		#contact .validate{
			display: none;
			padding: 1rem;
			color: #eee;
			text-shadow: 
				0 0 .2rem #333, 
				-2px 2px 2px #333;
		}
		/*validacion*/
		#contact :focus{
			box-shadow: 0 0 .5rem #333;
		}
		#contact :focus + .validate{
			display: block;
			border: 2px solid;
			border-radius: 0 0 .2rem .2rem;
		}
		#contact :focus:invalid{
			border-color: limegreen;
		}
		#contact :focus:invalid + .validate{
			border-color: limegreen;
			background-color: limegreen;
		}
		#contact :focus:valid{
			border-color: tomato;
		}
		#contact :focus:valid + .validate{
			border-color: tomato;
			background-color: tomato;
		}

/*medium devices*/
	@media screen and (min-width:768px){
		nav .button{
			display:none;
		}
		nav .menu{
			display: flex;
			width: auto;
			height: auto;
		}
	}
/*Large Devices*/	
	@media screen and (min-width:992px){
		#search{
			display: flex;
		}		
		#searchIn{
			min-width:540px;
		}
/*Autor: Cristian Racedo*/
